$backgroundButtonColor:#0F7BFF; 
$lightBackgroundColor: #F5FCFD;
$darkBackgroundColor: #0063DD;


.bannerH1{
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}
.bannerH2{
    font-size: 32px;
    line-height: 40px;
}
.bannerH3{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
p {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}